body {
    background-color: #fdfaf3;
    margin: 0;
    font-family: "Playfair Display", serif;
    zoom: 80%;
}


.container {
    display: flex;
    width: 80%;
    max-width: 1200px;
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
    height: 850px;
}

.left-section {
  width: 50%;
  padding: 40px;
}

.right-section {
  width: 50%;
}

h1 {
  font-size: 24px;
  color: #333;
}

.signup-box {
  margin-top: 20px;
  border: 2px solid #007b3d;
  padding: 20px;
  background: white;
}

.signup-box input {
  width: 100%;
  box-sizing: border-box; /* prevents padding from shrinking the field */
}

h2 {
  font-size: 22px;
  text-align: center;
}

label {
  display: block;
  margin-top: 10px;
}

input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  width: 100%;
  padding: 10px;
  margin-top: 15px;
  background: #007b3d;
  color: white;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.login-link {
  text-align: center;
  margin-top: 10px;
}

.wrapper {
    display: flex;
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #fdfaf3;
}